[submodule "nvpro_core2"]
	path = nvpro_core2
	url = https://github.com/nvpro-samples/nvpro_core2.git
[submodule "3rdparty/winhttppal"]
	path = 3rdparty/winhttppal
	url = https://github.com/microsoft/WinHttpPAL.git
[submodule "python/sam_3d_body_git"]
	path = python/sam_3d_body_git
	url = https://github.com/Erant/sam-3d-body.git
[submodule "3rdparty/depth-anything-cpp"]
	path = 3rdparty/depth-anything-cpp
	url = https://github.com/maxious/depth-anything.cpp
